html,
body:lang(ja) {
  scroll-behavior: smooth;
  margin: 0px;
  font-family: "UD Shin Go Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  font-family: "Cookie Run Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #3f3f3f;
  color: #fff;
}

.rhap_additional-controls {
  display: none;
}

@font-face {
  font-family: "Cookie Run Regular";
  src: url("./assets/fonts/CookieRun\ Regular.ttf");
}

@font-face {
  font-family: "Cookie Run Bold";
  src: url("./assets/fonts/CookieRun\ Bold.ttf");
}

@font-face {
  font-family: "Mochiy Pop Regular";
  src: url("./assets/fonts/MochiyPopPOne-Regular.ttf");
}

@font-face {
  font-family: "851Tegaki";
  src: url('./assets/fonts/851tegaki_zatsu_normal_0883.ttf');
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
}
