html, body:lang(ja) {
  margin: 0px;
  font-family: 'Mochiy Pop Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0px;
  font-family: 'Cookie Run Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Cookie Run Regular';
  src: url('./assets/fonts/CookieRun\ Regular.ttf');
}

@font-face {
  font-family: 'Cookie Run Bold';
  src: url('./assets/fonts/CookieRun\ Bold.ttf');
}

@font-face {
  font-family: 'Mochiy Pop Regular';
  src: url('./assets/fonts/MochiyPopPOne-Regular.ttf');
}
